body {
  margin: 0;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: black;
}
 
.header{
  
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black; 
  align-items: center;
  position: fixed;
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height:80px;
  background-color: #66a3ff;

}
.logo {
  display:flex;
  align-items:center;
}
.nav{
  flex-grow:1;
  padding-left: 20px;
  margin: 2px;
  /*border-right: 1px solid black;*/
}
.logo img{
  margin-right: 12px;
}
.logo span{
  color: MediumAquamarine;
}
/*.logo,.nav{
  flex-grow:1;
  padding-left: 20px;
  margin: 2px;
  border-right: 1px solid black;
}
*/

ul{
  text-align: right;
}
 ul li{
  
  display: inline-block;
  padding:20px 10px;
  
}
a{
  color:black;
}
/*.container_1{
  display: flex;
  
  border: 1px solid black; 
  align-items: flex-start;
  
}
.container_2{
  display: flex;
  flex-direction: column;
  border: 1px solid black; 
  align-items: flex-start;
  
}*/
.content{
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
.lead{
  width: 630px;
  
  border: 5px solid orange;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}
.articles{
  border: 5px solid green;
  width: 630px;
   display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.articles_1,.articles_2{
  width: 300px;
  border: 2px solid blue;
  flex-grow: 1;
  flex-direction:column; 
}

 .image-lady{
  background: url("image/img-story-2.png");
 
  height:300px;
  border: 1px solid red;
  }
.image-child{
  background: url("image/img-story-3.png");
 
  height:300px;
  border: 1px solid red;
  }
.image-content span,.image-lady span,.image-child span,.image-girl span{
display: flex;
flex-direction: column;
justify-content: center;
height: 300px;
margin-top: 15px;
font-weight: bold;
font-size: 30px;
color: white;
text-align: center;
}
.image-content{
  background-image: url("image/img-story-main.png");
  
    height:300px;
    border:1px solid red;
     text-align: left;
}
.find{
  border: 1px solid green;
}
.nar{
    display: block;
    border: 1px solid green;
    margin-top: 10px;
  }
.column{
  display: flex;
  flex: 1;
  padding: 2px;
  margin: 2px;
  /*border: 1px solid black;*/
}
.column.large {
  width: 630px;
  flex:1;
  display: flex;
 flex-flow: wrap column;
 border:1px solid green;
}

.column.medium {
  width: 300px;
  flex:1;
  display: flex;
 flex-flow: wrap column;
 border:1px solid blue;
}

.column.small {
  width: 240px;
  flex:1;
  display: flex;
 flex-flow: wrap column;
 border: 1px solid blue;
}
/*span.orca{
  
  color: white;
  font-size: 40px;
  border: 1px solid green;
}*/

.image-girl{
  background: url("image/img-story-1.png");

  height:300px;
  border: 1px solid black;
}
  
.nar_1{
  display: block;
  padding: 10px 0;
  margin-bottom: 5px;
  font-size: 16px;
  align-self: baseline;
}


/*<!--footer-->*/
.footer{
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width:100%;
  height:325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 ul li{
  display: inline-block;
}
.times {
  display:flex;
  align-items:center;
}
.footer .end {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: "Georgia", serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}